 <head>
 <link rel="stylesheet" type="text/css" href="style.css">
 </head>

<center><h1>Enter Your Number Here:</h1></center>
<form method = "post" action = "change">
    <center><input type = "text" name = "amount"></center>
    <center><input type = "submit" value = ">>>>"></center>
</form>
<br>
<center><%= Answer %></center>